    <div class="card">
      <ul>
        <li><%= @card.email %></li>
        <li><%= @card.phone_number %></li>
        <li><%= @card.organization %></li>
        <li><%= @card.position %></li>
      </ul>
    </div>