<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.first_name %> <%= @user.last_name %> carded you!</h1></

    <!-- 
    BUSINESS CARD GOES HERE
    AS A LINK CLOWN HAT @url END CLOWN HAT
    HTML AND CSS FOR ACTUAL CARD HERE 
    PICTURES CAN BE ATTACHED BY TYPING
    IN RUBY CLOWN HATS image_tab attachments['image.jpg'].url END CLOWN HAT
    -->
    <a href="<%= user_path(@user) %>">See Card Here</a>  

</html>