<div class="welcomepage">
  <p>Hello, <%= @user.first_name %>!<p>
</div>

<form id="send-text">
  <input type="text", placeholder="Enter Phone" />
<button id="text">Text Card</button>
</form>

<form id="send-email">
  <input type="text", placeholder="Enter Email" />
  <button id="mail">Email Card</button>
</form>
