<%= render 'form' %>
<!-- <div class="card">
  <div class="personal_info_list">
    <ul>
      <li id="card_email_list"></li>
      <li id="card_card_name_list"></li>
      <li id="card_phone_number_list"></li>
      <li id="card_organization_list"></li>
      <li id="card_position_list"></li>
    </ul>
  </div>

  <div id="card-profile-pic">
  </div>  
</div>
<div class="card_design_menu">
  <h3>Card Design Menu</h3>
  <ul>
    <li class="profile-pic-menu">
      <h3>Choose profile picture position</h3>
      <form id="profile-pic-menu-radio" action="">
<input id="right-top" type="radio" name="position" value="right-top">right-top<br>
<input id="right-bottom" type="radio" name="position" value="right-bottom">right-bottom<br>
<input id="left-top" type="radio" name="position" value="left-top">left-top<br>
<input id="left-bottom" type="radio" name="position" value="left-bottom">left-bottom<br>

</form>
    </li>
  </ul>
</div>

<script>
var cardAttr;
function listDetails() {
    $("#card_email").keyup(function(){
    $(".personal_info_list #card_email_list").text(this.value)
    });
    $("#card_card_name").keyup(function(){
    $(".personal_info_list #card_card_name_list").text(this.value)
    });
    $("#card_phone_number").keyup(function(){
    $(".personal_info_list #card_phone_number_list").text(this.value)
    });
    $("#card_organization").keyup(function(){
    $(".personal_info_list #card_organization_list").text(this.value)
    });
    $("#card_position").keyup(function(){
    $(".personal_info_list #card_position_list").text(this.value)
    });
}

function profilePicPosition() {
  $("#profile-pic-menu-radio").on("change", function(){
    if($("#right-top").prop('checked') === true){
      document.getElementById("card-profile-pic").className = "card-profile-pic-right-top"
    } else if($("#right-bottom").prop('checked') === true) {
      document.getElementById("card-profile-pic").className = "card-profile-pic-right-bottom"
    } else if($("#left-top").prop('checked') === true) {
      document.getElementById("card-profile-pic").className = "card-profile-pic-left-top"
    } else if($("#left-bottom").prop('checked') === true) {
      document.getElementById("card-profile-pic").className = "card-profile-pic-left-bottom"
    }
  })
}
  
profilePicPosition();  
listDetails()
</script> -->