<%= render 'form' %>
<div class="card">
    <ul class="personal_info_list">
      <li id="card_email"></li>
      <li id="card_card_name"></li>
      <li id="card_phone_number"></li>
      <li id="card_organization"></li>
      <li id="card_position"></li>
    </ul>

  <div class="card-profile-pic">
  </div>
</div>
<div class="card_design_menu">
  <h3>Card Design Menu</h3>
  <ul>
    <li class="profile-pic-menu">
      <h3>Choose profile picture position</h3>
      <form action="">
<input type="radio" name="position" value="right-top">right-top<br>
<input type="radio" name="position" value="right-bottom">right-bottom<br>
<input type="radio" name="position" value="right-bottom">left-top<br>
<input type="radio" name="position" value="right-bottom">left-bottom<br>

</form>
    </li>
  </ul>
</div>

<script>
var cardAttr;
function listDetails() {
  // $("<li>").appendTo(".personal_info_list")
    $("#card_email").keyup(function(){
    $(".personal_info_list #card_email").text(this.value)
    });
    $("#card_card_name").keyup(function(){
    $(".personal_info_list #card_card_name").text(this.value)
    });
    $("#card_phone_number").keyup(function(){
    $(".personal_info_list #card_phone_number").text(this.value)
    });
    $("#card_organization").keyup(function(){
    $(".personal_info_list #card_organization").text(this.value)
    });
    $("#card_position").keyup(function(){
    $(".personal_info_list #card_position").text(this.value)
    });
}

function profilePicPosition() {
  
}
  
  
listDetails()
</script>