<<<<<<< HEAD


<button id="new-group">New Group</button>


<%= form_tag("/users/#{user.id}/cards", method: "post") do %>
  <%= text_field_tag %>
  <%= submit_tag("Submit") %>
=======
<% @connections.each do |connection| %>
  <%= connection.card.user.first_name %>
>>>>>>> c56339f398a82aa682333cb7c29d09bdf4a023e5
<% end %>